.env
__pycache__
current_version.txt
MEMORY_LOADED
memory.json
*.pkl
memory.json
venv/
output.png
.vscode/
received_memory.json
translation_report.txt
translationcompleteness.py
modules/volta
fireboard.db
fireboard.db-shm
fireboard.db-wal